.menu a {
    text-decoration: none;
    padding: 10px 20px;
}

.menu a:hover{
    background-color: white;
}
.menu{
    margin-left: 20px;
    display: flex;
}
.active{
    background-color: white;

}

@media screen and (max-width: 745px){
    .menu {
        flex-direction: column;
        margin: 0 auto;
    }
    .menu a {
        text-align: center;
    }
}